mixin about_us
    section.wedding.container#bemutatkozas
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Ki is az a Ceremónia vezető?
        .row
            .col-sm-6
                p Szinte biztos vagyok benne, hogy ha erre az oldalra rátaláltál, akkor már tudod mi a különbség a vőfély és a ceremóniamester között, ezért ennek sablonszerű leírásával nem is untatnék senkit.
                p Ami ennél szerintem érdekesebb, az a ceremóniamester feladata, és, hogy meddig terjed egy ceremóniamester hatásköre. Általános leírás erről sem adnék, sokkal fontosabbnak találom leírni, hogy mi hogyan gondoljuk, és hogyan dolgozunk  mint ceremóniamesterek.
                p Lehetne valami jobb szó is erre, mint az, hogy ceremóniamester, hisz egy személyben vagyunk esküvős házigazda, műsorvezető, tolmács, animátor, tanácsadó, néha szervező, de legtöbbször inkább barát/barátnő.
                p Feladatunk sokkal összetettebb annál, mint , hogy felkonferáljuk a levest. Mi ceremóniamesterként már a szervezés kezdetétől ötletekkel látjuk el a párt, ami nem csak az adott nap forgatókönyvéről szól, hanem ennél sokkal többről. Lehet szó ruháról, gyűrűről, meghívóról, ültetésről, és még sorolhatnám :) Jó ha van valaki akinek a barátnőknél is nagyobb tapasztalata van és bármikor fel lehet hívni, ha az ember a szervezés közben elbizonytalanodik. Feladatunk, hogy a nagy napig vezető úton is a pár segítségére vagyunk.
                p A szertartásvezető úgy alakítja a szertartás forgatókönyvét, hogy az elegáns legyen, rugalmasan alakítja a Ti elképzeléseitekhez, és kedvesen irányítja az esketést, hogy valódi élmény legyen.
            .col-sm-6.vcenter
                .wedding__imageWrapper
                    img.wedding__image(src='./img/vezeto.jpg')