mixin contact
    section.contact.container#kapcsolat
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Írj nekünk
                p.c-sectionHeader__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit vehicula, dapibus ipsum in, vehicula nunc. Maecenas semper ante ac lorem facilisis, eget aliquet lectus sagittis. Donec porta pharetra purus blandit elementum.
        .row
            .col-sm-6
                form
                    .c-inputGroup
                        label.c-inputGroup__label(for='name') Név:
                        input#name(type='text', name='name', placeholder='Név')
                    .c-inputGroup
                        label.c-inputGroup__label(for='email') E-mail cím:
                        input#email(type='email', name='email', placeholder='E-mail cím')
                    .c-inputGroup
                        label.c-inputGroup__label(for='subject') Tárgy:
                        input#subject(type='text', name='subject', placeholder='Tárgy')
                    .c-inputGroup
                        label.c-inputGroup__label(for='message') Üzenet:
                        textarea#message(name='message', placeholder='Üzenet')
                    .c-inputGroup.text-right
                        .c-btn.c-btn--secondary Elküld
            .col-sm-6.hidden-xs
                .contact__image