include ./components/header.mixin.jade
include ./components/slideshow.mixin.jade

doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Elérhetőség
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/grid.min.css')
        link(rel='stylesheet', href='/css/pgwslider.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        .container
            +header

        .container.flags
            img(src='/img/hu_flag.png')
            a(href="/en/contact", title="contact")
                img(src='/img/uk_flag.png')

        .container
            aside.menu
                ul
                    li
                        a.menu-link(href="/hu/rolunk", title="Rólunk") Rólunk
                    li
                        a.menu-link(href="/hu/tevekenyseg", title="Tevékenység") Tevékenység
                    li
                        a.menu-link(href="/hu/referencia", title="Referencia") Referencia
                    li
                        a.menu-link(href="/hu/elerhetoseg", title="Elérhetőség") Elérhetőség
                    li
                        a.menu-link(href="/hu/allasajanlatok", title="Állásajánlatok") Állásajánlatok

            article.content
                +slideshow
                h1.title Rólunk
                img(src='/img/elerhetoseg_0.jpeg' alt='geo-terra epulet')
                h2 Geo-Terra Kft.

                p Levelezési és számlázási cím:1223 Budapest, Kelenvölgyi u. 15.
                    br
                    | Telefonszám:+36-1-2065131
                    br
                    | Fax szám:+36-1-2063395
                    br
                    | e-mail: geoterra@geoterra.hu
                    br
                    | web:
                    a.greenlink(href="http://www.geoterra.hu", title="www.geoterrea.hu")  www.geoterra.hu
                h2 Megközelíthetőség:
                iframe(width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDd9gd0yCEu3EV6qmVZ1OLtM-RqX9Wh7V8&q=Geo-Terra+Kft." allowfullscreen)

                h2 Autóval:
                p A Belváros felől a 7-es úton (Balatoni út), a Szoborpark elott kb. 500 m-rel a jobb oldalon.
                h2 Tömegközlekedéssel:
                p 150-es jelzésű autóbusszal a Fehérvári út illetve a Campona felől. Leszállás a Budatétény benzinkút megállóhelynél.
                    br
                    | A Kelenföldi Pályaudvarról a százhalombattai (710-es jelzésű), a pusztazámori (722-es jelzésű) és a érdi (720-as jelzésű) távolsági autóbuszokkal. Leszállás a Budatétény benzinkút megállóhelynél.

                a(href="/en/contact", title="contact")
                    img.flag(src='/img/uk_flag.png')


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')

        script(src='/js/pgwslider.js')
        script(src='/js/script.min.js')