mixin events
    section.events.container#rendezvenyek
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Rendezvények
                p.c-sectionHeader__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel vestibulum nisi. Duis volutpat, arcu in suscipit pulvinar, augue nulla vehicula urna, sit amet vehicula ipsum elit non sem. Morbi a diam leo.
                    a(href='#kapcsolat').wantIt Érdeklődöm

        .row
            .col-xs-6.col-sm-3
                img.events__image(src='./img/lanybucsu.jpg')
            .col-xs-6.col-sm-3
                img.events__image(src='./img/legenybucsu.jpg')
            .col-xs-6.col-sm-3
                img.events__image(src='./img/szuletesnap.jpg')
            .col-xs-6.col-sm-3
                img.events__image(src='./img/evfordulo.jpg')