mixin footer
    .footer.container
        .row
            nav.footer__wrapper
                ul.nav.nav__list
                    li.nav.nav__listElement Urbán Rendezvény
                    li.nav.nav__listElement 1228 Budapest Balázs Béla utca 31.
                    li.nav.nav__listElement info@urbanrendezveny.hu
                    li.nav.nav__listElement +36-70-435-2345