include ./header.mixin.jade
include ./top_menu.mixin.jade
include ./wedding.mixin.jade
include ./events.mixin.jade
include ./references.mixin.jade
include ./prices.mixin.jade
include ./contact.mixin.jade
include ./footer.mixin.jade

doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/grid.min.css')
        link(rel='stylesheet', href='css/style.css')
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browsehappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        +header
        +top_menu
        +wedding
        +events
        +references
        +prices
        +contact
        +footer

        //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

        script(src='js/script.min.js')

        //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        //-
          script
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');