mixin prices
    section.prices.container#arak
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Áraink
                p.c-sectionHeader__description A feltüntetett árak tájékoztató jellegűek, pontos árajánlatért kérlek vedd fel a kapcsolatot velünk.
        .row
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--wedding
                    img.c-card__imageForSeo(src='img/eskuvo1.jpg')
                    .c-card__title Esküvő
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--bachelorette
                    img.c-card__imageForSeo(src='img/lanybucsu2.jpg')
                    .c-card__title Lánybúcsú
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--bachelor
                    img.c-card__imageForSeo(src='img/legenybucsu2.jpg')
                    .c-card__title Legénybúcsú
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--birthday
                    img.c-card__imageForSeo(src='img/szuletesnap2.jpg')
                    .c-card__title Születésnap
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--anniversary
                    img.c-card__imageForSeo(src='img/evfordulo2.jpg')
                    .c-card__title Évforduló
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-6.col-sm-4
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--ceremony
                    img.c-card__imageForSeo(src='img/szertartas.jpg')
                    .c-card__title Szertartás
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek