mixin prices
    section.prices.container#arak
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Áraink
                p.c-sectionHeader__description A feltüntetett árak tájékoztató jellegűek, pontos árajánlatért kérlek vedd fel a kapcsolatot velünk.
        .row
            .c-card.col-xs-12.col-sm-6
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--wedding
                    img.c-card__imageForSeo(src='img/eskuvo1.jpg')
                    .c-card__title TELJES KÖRŰ ESKÜVŐSZERVEZÉS
                    .c-card__line
                    .c-card__price 80 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek
            .c-card.col-xs-12.col-sm-6
                .c-card__imageWrapper
                    .c-card__darken
                    .c-card__image.c-card__image--bachelorette
                    img.c-card__imageForSeo(src='img/levezetes.jpg')
                    .c-card__title A NAGY NAP KOORDINÁLÁSA
                    .c-card__line
                    .c-card__price 50 000 ft-tól
                .c-card__content
                    ul.c-card__list
                        li.c-card__listElement tartalom1
                        li.c-card__listElement tartalom2
                        li.c-card__listElement tartalom3
                        li.c-card__listElement tartalom4
                .c-btn.c-btn--full.c-btn--secondary.anchor(data-anchor='#kapcsolat') Ajánlatot kérek