mixin references
    section.references.container#referenciak
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Referenciák
        .row
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g1.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g2.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g3.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g4.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g5.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3
                .c-zoomable
                    .references__image.references__image--g6.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3.hidden-xs.hidden-sm
                .c-zoomable
                    .references__image.references__image--g7.c-zoomable__image
            .references__imageWrapper.col-xs-6.col-sm-4.col-md-3.hidden-xs.hidden-sm
                .c-zoomable
                    .references__image.references__image--g8.c-zoomable__image
