mixin top_menu
    .topMenu.container
        .row
            nav.topMenu__wrapper
                ul.nav.nav__list
                    li.nav.nav__listElement
                        a(href='#eskuvo') Esküvők
                    li.nav.nav__listElement
                        a(href='#rendezvenyek') Rendezvények
                    li.nav.nav__listElement
                        a(href='#referenciak') Referenciák
                    li.nav.nav__listElement
                        a(href='#arak') Árak
                    li.nav.nav__listElement
                        a(href='#kapcsolat') Kapcsolat
