mixin wedding
    section.wedding.container#eskuvo
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Álmaid esküvője
        .row
            .col-sm-6.vcenter
                p
                    span.pink Az első személyes találkozásunk alkalmával
                    | &nbsp; kifejthetitek, megfogalmazhatjátok álmaitokat, igényeiteket, elvárásaitokat. Amennyiben nincs még konkrét elképzelésetek, vagy kérdésetek merül fel, ötleteimmel, tanácsaimmal tudok nektek segíteni.
                P Az általatok nyújtott információk alapján pár nap múlva elkészítem az ajánlatomat, amelyben azokat a szolgáltatókat fogom ajánlani, akik a ti elképzeléseiteknek megfelelnek és természetesen szabadok az általatok kiválasztott időpontban.
            .col-sm-6.vcenter
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo1.jpg')
        .row
            .col-xs-12.col-sm-6.vcenter.col-sm-push-6
                p
                    span.pink A következő találkozásunk során
                    | &thinsp; átadom az elkészített ajánlatot, valamint az abban feltüntetett szolgáltatók repertoárját. Ekkor van lehetőség megtekinteni a meghívó-, valamint az ültetőkártya mintákat, esküvői torták katalógusát is. Így nektek nem kell már egyesével a szolgáltatókat felkeresnetek, minden anyagot megkaptok tőlem. Kizárólag megbízható, kiváló és kipróbált szolgáltatókat ajánlok.
            .col-xs-12.col-sm-6.vcenter.col-sm-pull-6
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo2.jpg')
        .row
            .col-sm-6.vcenter
                p
                    span.pink Az esküvő előtti hetekben
                    | &thinsp; egy nagyobb lélegzetvételű találkozóra kerül sor, amikor már véglegesítjük az eseményeket pontról pontra, amely alapján a forgatókönyvet elkészítem.
                p A nagy napon én érkezem elsőként a helyszínre és attól a pillanattól kezdve az egész nap folyamán összehangolom az eseményeket, felügyelem a szolgáltatók munkáját. És én leszek az, aki utoljára távozik a helyszínről.
            .col-sm-6.vcenter
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo3.jpg')