mixin wedding
    section.wedding.container#eskuvo
        .row
            .c-sectionHeader.col-md-8.col-md-offset-2
                h1.c-sectionHeader__title Álmaid esküvője
        .row
            .col-sm-6.vcenter
                .wedding__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ante a diam placerat mattis. Pellentesque at risus non leo accumsan interdum. Donec placerat ante nec tortor mollis, id cursus massa porta. Nam vel eros ultricies, consequat dui id, consequat orci. Curabitur a dui ut turpis suscipit vestibulum. Proin vel purus interdum, scelerisque est a, ornare lorem. Sed consectetur quis erat at vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h2.wedding__title Gyűrű, gyerta, homok stb.
                .wedding__description Integer semper augue varius enim pretium pellentesque. Pellentesque a mattis orci. Vivamus venenatis nunc sed placerat lobortis. Integer id condimentum leo. Nunc enim nunc, sollicitudin nec arcu nec, vulputate pharetra nisl.
            .col-sm-6.vcenter
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo1.jpg')
        .row
            .col-xs-12.col-sm-6.vcenter.col-sm-push-6
                h2.wedding__title Helyszín, forgatókönyv
                .wedding__description Aliquam non turpis metus. Sed pretium consectetur orci, vel sagittis est porta eget. Nullam tincidunt elementum facilisis. Vestibulum imperdiet consequat felis id pellentesque. Duis id aliquam nunc, vitae finibus libero. Cras dignissim, massa a luctus vestibulum, mauris est consectetur eros, facilisis aliquet turpis enim eu ipsum. Sed quis tempor ligula, ut tristique mauris. In ligula enim, tristique vel vestibulum et, placerat sit amet diam. Nunc in erat at ante consectetur hendrerit.
                h2.wedding__title Szülőköszöntés, új családi kötelékek születése
                .wedding__description In hac habitasse platea dictumst. Pellentesque accumsan in dui in facilisis. Nulla facilisis id augue vulputate consequat. Quisque quis auctor nisi, et dignissim arcu. Curabitur quis arcu nec purus semper maximus. Suspendisse ullamcorper faucibus odio, et venenatis sem fringilla quis. Mauris fringilla vehicula ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            .col-xs-12.col-sm-6.vcenter.col-sm-pull-6
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo2.jpg')
        .row
            .col-sm-6.vcenter
                h2.wedding__title Gratuláció
                .wedding__description Donec at viverra erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vel varius libero. Cras quis rhoncus enim, ac congue nibh. Donec lectus turpis, maximus a euismod eu, auctor a augue. In consectetur consectetur tincidunt. Phasellus a tortor sed ligula porttitor efficitur non id velit.
                h2.wedding__title Esküvői szokások
                .wedding__description Mauris aliquet id nunc id vulputate. In mollis tellus id dolor rhoncus scelerisque. Curabitur ac nibh molestie tellus venenatis egestas efficitur nec erat. Duis id ante scelerisque, dignissim nisi et, volutpat sem. Suspendisse nisl sem, consectetur ut nisl nec, hendrerit commodo sem. Sed facilisis sed ipsum eu imperdiet. Morbi ac nibh lorem. Morbi sollicitudin tortor sem, non auctor dolor efficitur ac.
                .wedding__want Amennyiben felkeltettuk erdeklodeset blablaba...
                    a(href='#kapcsolat').wantIt Érdeklődöm
            .col-sm-6.vcenter
                .wedding__imageWrapper
                    img.wedding__image(src='./img/eskuvo3.jpg')