@import 'config/_colors.scss';
@import 'config/_helper.scss';
@import 'components/_button.scss';
@import 'components/_card.scss';
@import 'components/_input-group.scss';
@import 'components/_nav.scss';
@import 'components/_section-header.scss';
@import 'components/_zoomable.scss';

* { box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 970px !important;
}

section.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.wantIt {
  color: $green;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}

.header {
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 0 !important;

  h1 {
    margin: 0;
  }

  .logo {
    width: 200px;
    height: 200px;
  }
}

.topMenu {
  .nav__listElement {
    text-transform: uppercase;
  }
}

.wedding {
  font-weight: 300;
  &__title {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    color: $pink;
  }

  &__description {
    margin-bottom: 18px;
    font-size: 14px;
  }

  &__image {
    width: 100%;
  }

  .row {
    margin-bottom: 20px;
  }

  &__want {
    font-size: 14px;
    margin-bottom: 18px;
  }
}

.events {
  &__image {
    width: 100%;
  }
}

.references {
  &__imageWrapper {
    padding: 20px;
    padding: 1vmin;
  }

  &__image {
    cursor: pointer;
    //background-image: url('../img/ref1.jpg');
    height: 100%;

    &--g1 {
      background-image: url('../img/eskuvo5.jpg');
    }
    &--g2 {
      background-image: url('../img/eskuvo6.jpg');
    }
    &--g3 {
      background-image: url('../img/eskuvo7.jpg');
    }
    &--g4 {
      background-image: url('../img/eskuvo8.jpg');
    }
    &--g5 {
      background-image: url('../img/eskuvo9.jpg');
    }
    &--g6 {
      background-image: url('../img/eskuvo10.jpg');
    }
    &--g7 {
      background-image: url('../img/eskuvo11.jpg');
    }
    &--g8 {
      background-image: url('../img/eskuvo12.jpg');
    }
  }

}

.prices {

}

.contact {
  &__image {
    width: 100%;
    height: 495px;
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: center;
  }
}

.footer {
  .nav__listElement {
    font-size: 12px;
  }
}
