mixin header
  section.header
    img.logo(src='/img/logo.png')
    h1 Geo-Terra Kft.
    img.logo2(src='/img/iso_logo.jpg')
    div
      p Address: 1223 Budapest, Kelenvölgyi utca 15.
      p Tel: +36-1-2065131
      p Fax: (+36 1) 206-33-95
      p Email: geoterra@geoterra.hu