mixin slideshow
  ul.pgwSlider
    li
      img(src="/img/4.jpg")
      span.text Geotechnikai tervezés - Vasút
      div.addon
        ul
          li Vasúti pálya
          li Műtárgyak
          li Felső vezetékek
          li Zajárnyékoló falak
          li Töltéstönkremenetel
          li Alépítmény vizsgálatok
        .btn
          a(href="http://www.geoterra.hu/hu/tevekenyseg", title="tevékenység") Részletek
    li
      img(src="/img/1.jpg")
      span.text Geotechnikai tervezés - Magasépítés
      div.addon
        ul
          li Családi házak
          li Ipari csarnokok
          li Irodaházak
          li Foghíjbeépítések
          li Tornyok
          li Határállomások
          li Töltőállomások
          li Támfaltervezés
          li Víztelenítés
        .btn
          a(href="http://www.geoterra.hu/hu/tevekenyseg", title="tevékenység") Részletek
    li
      img(src="/img/2.jpg")
      span.text Geotechnikai tervezés - Műtárgyak
      div.addon
        ul
          li alul, felül járók
          li Duna hidak
          li Tisza hidak
          li völgyhidak
          li csőátereszek
          li támfalak
          li stb
        .btn
          a(href="http://www.geoterra.hu/hu/tevekenyseg", title="tevékenység") Részletek
    li
      img(src="/img/3.jpg")
      span.text Geotechnikai tervezés - Útépítés
      div.addon
        ul
          li Autópályák, utak
          li csatornázás
          li bevágások
          li magas töltések
          li anyagnyerőhely vizsgálatok
          li stb
        .btn
          a(href="http://www.geoterra.hu/hu/tevekenyseg", title="tevékenység") Részletek