@import '../config/_colors.scss';

.c-btn {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;

  &--full {
    display: block;
    padding: 20px 0;
  }

  &--primary {
    color: white;
    background-color: $pink;
  }

  &--secondary {
    color: white;
    background-color: $green;

    &:hover {
      background-color: darken($green, 5);
    }
  }
}