.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  &__listElement {
    list-style-type: none;
    color: $grey;
    font-weight: 300;
    padding: 0 5px;
  }
  
  a {
    color: $grey;
    text-decoration: none;
  }

}