.c-sectionHeader {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;

  &__title {
    font-weight: 300;
    position: relative;
    padding-bottom: 15px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 45%;
      right: 45%;
      height: 2px;
      content: '';
      background-color: $pink;
    }
  }
}